* {
    margin: 0;
    padding: 0;
}

.pageturn-box {
    width: 100%;
    height: 100%;
}

.second-tab {
    height: 40px;
    margin-top: 32px;
    list-style: none;
}
.second-tab li {
    float: left;
    width:100px;
    height:40px;
    line-height: 40px;
    text-align: center;
    background:#efefef;
    border-radius:8px 8px 0px 0px;
    margin-left: 12px;
    font-size:16px;
    font-family:Source Han Sans SC;
    font-weight:400;
    color:rgba(153,153,153,1);
    cursor: pointer;
}
.second-tab li:nth-of-type(1) {
    margin-left: 0;
}
.second-tab li.active {
    background: #0073E3;
    color: #fff;
}

.page-info {
    height: 72px;
    padding-left: 31px;
    padding-right: 32px;
    font-size:14px;
    font-family:Source Han Sans SC;
    font-weight:400;
    color:rgba(153,153,153,1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.page-info .record-text {
    /* float: left; */
}
.page-info .page-turn {
    /* float: right; */
}
.pre-page, .next-page {
    width:32px;
    height:32px;
    border:1px solid rgba(217,217,217,1);
    border-radius:4px;
    text-align: center;
    line-height: 32px;
    font-size:14px;
    font-family:Source Han Sans SC;
    font-weight:400;
    color:rgba(34,34,34,1);
    margin-left: 8px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pre-page img, .next-page img {
    border: none;
    max-width: 30px;
    max-height: 30px;
}
.page-info .page-turn .pre-page::before, .next-page::before {
    width:8px;
    height:14px;
    color: #D9D9D9;
    position: absolute;
}
.page-info .page-turn select {
    width:84px;
    height:32px;
    border:1px solid rgba(217,217,217,1);
    border-radius:4px;
    margin-left: 8px;
}
.page-info .page-turn .fl {
    float: left;
}
.page-info .page-turn ul {
    list-style: none;
}
.page-info .page-turn ul li {
    float: left;
    width:32px;
    height:32px;
    border:1px solid rgba(217,217,217,1);
    border-radius:4px;
    text-align: center;
    line-height: 32px;
    font-size:14px;
    font-family:Source Han Sans SC;
    font-weight:400;
    color:rgba(34,34,34,1);
    margin-left: 8px;
    cursor: pointer;
}
.user-noselect-text {
    /* 禁止选中文本 */
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}
.page-info .page-turn ul li.active {
    color:#096DD9;
    border-color: #096DD9;
}
.page-info .page-turn .jumpto {
    margin-left: 8px;
}
.page-info .page-turn .jumpto input {
    width: 32px;
    height: 32px;
    border:1px solid rgba(217,217,217,1);
    border-radius:4px;
    line-height: 32px;
    font-size:14px;
    font-family:Source Han Sans SC;
    font-weight:400;
    color:rgba(34,34,34,1);
    margin: 0 8px;
    text-align: center;
}